<div
  class="flex flex-row h-[68px] justify-between items-center text-xs mx-auto bg-bgText"
>
  <div class="flex flex-col px-4">
    <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
    <p class="text-base">
      Anais do 13 Simpósio Latino Americano de Ciência de Alimentos
    </p>
    <p>ISSN: 1234-5678</p>
  </div>
  <div class="flex items-center gap-1 px-4">
    <span class="flex items-center border-[1px] rounded-sm gap-1 px-1"
      ><img src="../../assets/iconLinguage.png" alt="" width="20px" />PT BR
      <img src="../../assets/dropDown.png" width="10px" alt=""
    /></span>
    <div class="ml-4 text-right">
      <p>Bem vindo!</p>
      <p>alguem12@galoascience.com</p>
    </div>
    <img src="../../assets/avatar.png" alt="" width="30px" />
  </div>
</div>
