<div
  class="comments-container"
  class="flex flex-col items-start p-4 m-4 border rounded-md shadow-lg space-y-2"
>
  <div>
    <h1 class="text-primary text-base font-medium">
      Assunto da pergunta aparece aqui
    </h1>
    <p class="text-xs text-orange-850">Carlos Henrique Santos</p>
  </div>
  <div>
    <p class="text-sm">
      Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da
      análise da dimensão e impacto de processo formativo situado impacto de
      processo formativo processo...
    </p>
    <img src="../../assets/like.png" alt="" width="165px" />
  </div>
</div>
