<div class="flex justify-between">
  <div class="flex-col w-[784px] font-bold space-y-4">
    <h2 class="text-primary text-lg">
      Análise sensorial de preparações funcionais desenvolvidas para escolares
      entre 09 e 15 anos, do município de Campinas/SP
    </h2>
    <img src="../../assets/video.jpg" alt="" />
  </div>
  <div class="flex-col w-auto">
    <div class="flex gap-2 items-center justify-end">
      <p
        class="bg-primary flex text-white items-center text-center p-1 text-xs rounded-md"
      >
        <img src="../../assets/downloadIcon.png" alt="" width="15px" />Download
      </p>
      <img
        src="../../assets/star.png"
        alt=""
        class="bg-primary p-1 w-6 rounded-md"
      />
      <img
        src="../../assets/doiIcon.png"
        alt=""
        class="bg-primary p-1 w-6 rounded-md"
      />
    </div>
    <p class="text-primary font-bold text-lg text-right">
      COMO CITAR ESSE TRABALHO?
    </p>
    <div class="flex-col gap-2 bg-bgText h-[459px]">
      <h1 class="text-lg pl-2 font-bold">Detalhes</h1>
      <div class="bg-white m-1 p-2">
        <div class="flex-col space-y-14 mb-6">
          <div>
            <p>Tipo de Apresentação: <strong>Pôster</strong></p>
            <p>Eixo temático:<strong> Alimentação e saúde (AS)</strong></p>
            <p>
              Palavras-chaves:
              <strong>Alimentos funcionais, alimentação escolar.</strong>
            </p>
          </div>
          <div>
            <strong>Autores:</strong>
            <p>Galileo Galilei¹</p>
            <p>Berta Lange de Morretes²</p>
            <p>Isaac Newton³</p>
            <p>Cesar Lattes¹</p>
            <p>Stephen Hawking⁴</p>
          </div>
          <div>
            <p>¹Universidade Estadual de Campinas</p>
            <p>²Universidade de São Paulo</p>
            <p>³Instituto Nacional de Pesquisas Espaciais</p>
            <p>⁴Universidade Federal do Rio de Janeiro</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
