<aside class="w-[220px] h-full flex flex-col shadow-md">
  <div
    class="h-[68px] bg-primary items-center flex w-full relative rounded-sm shadow-inner"
  >
    <span class="uppercase mx-auto text-xl text-secondary">slaca 2019</span>
  </div>

  <img
    src="../../assets/slaca.png"
    alt="Slaca"
    width="220px"
    height="258px"
    class="p-2"
  />
  <div class="flex-col text-sm">
    <p class="border-b pl-6 py-2">Apresentação</p>
    <p class="border-b pl-6 py-2">Comitês</p>
    <p class="border-b pl-6 py-2">Autores</p>
    <p class="border-b pl-6 py-2">Eixos Temáticos</p>
    <p
      class="border-l-primary border-l-4 pl-8 h-8 flex items-center bg-secondary"
    >
      Trabalhos
    </p>
    <p class="border-y pl-6 py-2">Contatos</p>
  </div>
</aside>
